.profile__edit-button {
    height: 22px;
    width: 22px;
    background: transparent;
    background-image: url(../../../images/profile/__edit-button/profile__edit-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.profile__edit-button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 870px) {
.profile__edit-button {
    width: 18px;
    height: 18px;
}
}