.popup__input {
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-family: inherit;
    padding: 0;
    padding-bottom: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.popup__input:focus{
    outline-color: blue;
    outline-style:groove;
    outline-width: 2px;
}

.popup__input::-webkit-input-placeholder {
    font-family: inherit;
}

.popup__input::-moz-placeholder {
    font-family: inherit;
}

.popup__input::-ms-input-placeholder {
    font-family: inherit;
}