.profile__items {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 25px 22px;
    grid-template-columns: auto 22px;
    gap: 16px 18px;
}

@media screen and (max-width: 870px) {
    .profile__items {
        gap: 14px 10px;
    }
}

@media screen and (max-width: 576px) {
    .profile__items {
        grid-template-columns: 20px auto auto auto;
    }
}